---
---

$sans-serif-font-family: 'Orbit', sans-serif;
$serif-font-family:      'Hahmlet', serif;
$code-font-family:       "Source Code Pro", monospace;

$body-color: #cbffee;
$link-color: #e4fff6;

$code-background-color:   #ffffff;
$code-color:              #000000;
$pagination-button-color: #e5fff6;

$dark-gray-color:        #65ffcd;
$light-gray-color:       #00feab;
$extra-light-gray-color: #009866;

$container-responsive-width: 768px;
$elements-responsive-width:  30em;

$icon-transition-time: .5s;
$envelope-color:       #e4fff6;
$twitter-color:        #cbffee;
$instagram-color:      #375989;
$github-color:         #e4fff6;
$linkedin-color:       #0073a4;
$facebook-color:       #3d5b99;
$pinterest-color:      #bd081c;
$medium-color:         #00AB6C;
$codepen-color:        black;
$rss-color:            #ff6600;

@import "-sections-dir";
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
